@import 'mixins';

.hero2{
    min-height: 500px;
    padding-bottom: 3%;
    background: url(../img/Cruises/MSC18015023crop.jpg) no-repeat;
    background-position: center;
    text-align: center;
    color: #f4f4f4;
    display: flex;
    @include bp-laptop{
        background-position: right;
        min-height: 300px;
    }

    @include bp-phoneL{
       min-height: 400px;
       background: url(../img/Cruises/MSC18015023crop.jpg) no-repeat;
     }

     @include bp-laptopL{
            min-height: 800px;
    }

    #hero-text2{
        background: rgba(101, 99, 85, 0.5);
        width: 50%;
        margin: auto;
        @include bp-phoneL{
            width: 80%;
        }
        
        h1{
            font-size: 46px;

            @include bp-laptopL{
                font-size:90px;
            }

            @include bp-laptop{
                font-size: 32px;
            }

                @include bp-tablet{
                    font-size: 28px;
                }

        }
        
        p{
            font-size: 18px;
            padding-bottom: 10px;

            @include bp-laptopL{
                font-size: 46px;
            }

            @include bp-laptop{
                font-size: 16px;
            }

            @include bp-tablet{
                font-size: 14px;
            }

            @include bp-phone{
                font-size: 9px;
             }
        }
    }
    
    button{
        margin: auto;
    }
}

.heading1{
    padding-top: 30px;
    h1{
        font-size: 36px;
        color: #ff7301;
    }
    h3{
        font-size: 22px;
    }
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cruise{
    padding: 50px;
}

.cruise img{
    width: 480px;
    height: 400px;
    @include bp-phoneL{
        width: 280px;
        height: 200px;
    }

    @include bp-phoneS{
        width: 240px;
        height: 200px;
    }
    
}