@import 'mixins';
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

#scroll{
    width: 15px;
    height: 50px;
    padding: 30px 0;
    margin-top: 30px;
    @include bp-laptop{
        margin-top: 10px;
        width: 10px;
        height: 30px;
    }
    @include bp-phoneL{
        display: none;
    }

    @include bp-laptopL{
        padding: 80px 0;
        //width: 10px;
    }
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.btn-1{
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    background: #ff7301;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}