body {
  font: 15px/1.5 montserrat;
  margin: 0;
  padding: 0;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Imports */
/*Media Query Mixins*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

#scroll {
  width: 15px;
  height: 50px;
  padding: 30px 0;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  #scroll {
    margin-top: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 425px) {
  #scroll {
    display: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn-1 {
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  background: #ff7301;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

/*Media Query Mixins*/
/* Header **/
header {
  padding-top: 10px;
  min-height: 70px;
}

header a {
  color: #655556;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  header a {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  header a {
    font-size: 9px;
  }
}

header li {
  list-style: none;
  display: inline;
  padding: 0 20px;
}

header #logo {
  float: left;
}

@media screen and (max-width: 425px) {
  header #logo {
    float: none;
  }
}

header #logo img {
  width: 170px;
  height: 140px;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  header #logo img {
    width: 150px;
    height: 130px;
    margin-bottom: 5px;
  }
}

header nav {
  float: right;
  margin-top: 60px;
}

@media screen and (max-width: 425px) {
  header nav {
    float: none;
    margin-top: 5px;
    padding: 10px 0;
  }
}

header .active {
  color: #ff7301;
  font-weight: bold;
}

header .mobile img {
  width: 30px;
}

header #desktop-hide {
  display: none;
}

header li a:hover {
  color: gray;
  font-weight: bold;
}

/* Hero section */
.hero {
  min-height: 360px;
  background: url(../img/Home/child_hammock_beach_vacation_7968_1920x1080.jpg) no-repeat;
  background-position: center;
  text-align: center;
  color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .hero {
    background-position: right;
    min-height: 300px;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    min-height: 380px;
  }
}

.hero #hero-text {
  background: rgba(101, 99, 85, 0.5);
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .hero #hero-text {
    width: 80%;
  }
}

.hero #hero-text h1 {
  font-size: 46px;
}

@media screen and (max-width: 1024px) {
  .hero #hero-text h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .hero #hero-text h1 {
    font-size: 28px;
  }
}

.hero #hero-text p {
  font-size: 18px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .hero #hero-text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero #hero-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .hero #hero-text p {
    font-size: 9px;
  }
}

.hero button {
  margin: auto;
}

/* About Us*/
.about {
  margin: 0%;
  padding: 20px 0;
}

.about p {
  font-size: 12px;
  color: #655556;
}

@media screen and (max-width: 425px) {
  .about p {
    font-size: 9px;
  }
}

.about h1 {
  color: #ff7301;
}

.about #background, .about #services, .about #satisfaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .about #background, .about #services, .about #satisfaction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about .box1 div img, .about .text1 {
  width: 500px;
  height: 250px;
}

@media screen and (max-width: 1024px) {
  .about .box1 div img, .about .text1 {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .about .box1 div img, .about .text1 {
    margin: auto;
  }
}

@media screen and (max-width: 425px) {
  .about .box1 div img, .about .text1 {
    width: 300px;
    height: 180px;
  }
}

@media screen and (max-width: 375px) {
  .about .box1 div img, .about .text1 {
    width: 250px;
    height: 160px;
  }
}

.about #services .text1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about #services div {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 768px) {
  .about #services .text1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about #services div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 10px;
  }
}

/* Newsletter */
#newsletter {
  padding: 20px 0;
  color: #ffffff;
  background: #655556;
}

#newsletter form {
  margin: 20px 0;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

@media screen and (max-width: 425px) {
  #newsletter input[type="email"] {
    width: 100%;
  }
}

#newsletter p {
  font-size: 12px;
  color: #f4f4f4;
}

@media screen and (max-width: 425px) {
  #newsletter button {
    width: 100%;
    border-radius: unset;
  }
}

/*Footer*/
footer {
  text-align: center;
  background: #ff7301;
  padding: 20px 0;
}

footer li {
  list-style: none;
  display: inline;
  padding: 0 20px;
}

footer li a img {
  width: 30px;
}

@media screen and (max-width: 375px) {
  footer li a img {
    width: 20px;
  }
}

footer p {
  color: #000000;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */